<header class="nav-container">

        <nav class="absolute transparent">
            <div class="nav-bar">
                <div class="module left">
                    <a href="{{ site.baseurl }}/">
                        <img class="logo logo-light" alt="System73" src="{{ "/img/system73-logo-light.png" | prepend: site.baseurl }}">
                        <img class="logo logo-dark" alt="System73" src="{{ "/img/system73-logo-dark.png" | prepend: site.baseurl }}">
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li class="has-dropdown">
                                <a href="{{ "/company/" | prepend: site.baseurl }}">
                                    Company
                                </a>
                                <ul>
                                    <li>
                                        <a href="{{ "/company/" | prepend: site.baseurl }}">
                                            About
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ "/company/executives.html" | prepend: site.baseurl }}">
                                            Executives
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ "/company/careers.html" | prepend: site.baseurl }}">
                                            Careers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ "/company/press.html" | prepend: site.baseurl }}">
                                            Press
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="{{ "/technology/" | prepend: site.baseurl }}">
                                    Technology
                                </a>
                            </li>
                            <li class="has-dropdown">
                                <a href="{{ "/products/" | prepend: site.baseurl }}">
                                  Products
                                </a>
                                <ul>
                                    <li>
                                <a href="{{ "/products#network-operator" | prepend: site.baseurl }}">
                                            Network Operator
                                        </a>
                                    </li>
                                    <li>
                                <a href="{{ "/products#broadcaster" | prepend: site.baseurl }}">
                                            Broadcaster
                                        </a>
                                    </li>
                                    <li>
                                <a href="{{ "/products#native-internet" | prepend: site.baseurl }}">
                                            Native Internet
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ "/investors.html" | prepend: site.baseurl }}">
                                  For Investors
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="module widget-handle language left">
                        <ul class="menu">
                            <li>
                                <a href="{{ "/login.html" | prepend: site.baseurl }}">
                                  Customer Login
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

</header>
