/****** PLACE YOUR CUSTOM STYLES HERE ******/

/* =========== Structure =========== */

section {
	padding: 48px 0;
}

footer {
	padding: 64px 0px 24px 0px;
}

hr {
	margin: 0 0 8px 0;
}

/* =========== Page title =========== */

.fullscreen {
	height: 90vh;
}

.page-title-3, .page-title-4 {
	height: 120px;
}

.nav-is-overlay .page-title-3.image-bg:first-child, .nav-is-overlay.page-title-3.bg-dark:first-child, .nav-is-overlay .page-title-4.image-bg:first-child, .nav-is-overlay.page-title-4.bg-dark:first-child {
	height: 160px;
	padding-top: 40px;
}

.menu > li ul {
	background-color: rgb(255, 255, 255);
}

.menu > li > ul li a {
	color: #232323;
}

.cta-thin {
	padding: 24px 0;
}

/* =========== Typography  =========== */

h1, h2, h3, h4, h5, h6, p, ul, ol, pre, table, blockquote, input, button, select, textarea {
	margin-bottom: 16px;
}

.bg-primary {
    background: #ffc9c9 !important;
}